<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IdleTimeKey" value = "600000" />
		<add key="AvailableSpaceKey" value = "50000000" />
		<add key="SavePathKey" value = "C:\Directory_test\" />
	</appSettings>
</configuration>